<html>
  <head></head>
  <body class='index_body'>
    <div class='shade'>
      <div class="content row">
        <div class='col-8 '>
          <h1 class='heading'>COMPANY ASSETS</h1>
          <p class='description'>It is the policy of Company that directors, officers, and employees are expected 
            to protect the assets of the Company and use them efficiently to advance the interests of 
            the Company. Those assets include tangible assets and intangible assets, such as confidential 
            information or the Company.</p>
          </div>
          <%= image_tag("computer.png",:class=>'computer' )%>
      </div>
    </div>
  </body>
</html>