<html>
	<head>
		<title>Login and register</title>
	</head>
    <body class='index_body'>
      <div class='shade'>
        <div class="row">
          <div class="col-3"></div>
          <div class="col-6 login_Body">
            <form  action='/users' method='POST'>
              <h1 class="alert-info btn-sm mb-5 text-center">CREATE ACCOUNT HERE</h1>
              <input type='hidden' name='authenticity_token' value='<%=form_authenticity_token%>'>
              <div class="row">
                <label class="col-sm-2 col-form-label text-right form_lable">Name</label>
                <div class="col-sm-10">
                  <input type="text" name='user[name]' placeholder="name" class="form-control mb-3"/>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-2 col-form-label text-right form_lable">Email</label>
                <div class="col-sm-10">
                  <input type="email" name='user[email]' placeholder="email" class="form-control mb-3"/>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-2 col-form-label text-right form_lable">Password</label>
                <div class="col-sm-10">
                  <input type="password" name='user[password]' placeholder="password" class="form-control mb-3"/>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-2 col-form-label text-right form_lable">Confirm</label>
                <div class="col-sm-10">
                  <input type="password" name='user[password_confirmation]' placeholder="password_confirmation" class="form-control mb-3"/>
                  <input class="form-control btn btn-info" type='submit' name='submit' value="Register">
                </div>
              </div>  
              <div class='mt-5'> 
                <%= link_to 'Cancel',  '/', :class => 'btn btn-secondary btn-sm'  %>
                <%= link_to 'Login',  '/login', :class => 'btn btn-primary btn-sm'  %>
              </div>
            </form>
          </div>
          <div class="col-3"></div>
        </div>
      </div>  
	</body>
</html>
