<div id="ex1" class="modal w-50 h-25 bg bg-warning text-dark">
  <p class='font-weight-bold'>Welcome to my blog, thank you for clicking</p>
  <a href="#" rel="modal:close", class="btn btn-sm btn-primary float-right">Close</a>
</div>