<div class='container mt-5'>
    <h1 class="shadow p-3 mb-5 bg-white rounded text-secondary">Welcome to my Blog</h1>

    <%= link_to 'Go to My Blog',  articles_path, :class => 'btn btn-warning mr-5'  %>
    <%= link_to 'Go to My Galary',  posts_path, :class => 'btn btn-info ml-5'  %>


    <a href="#ex1" rel="modal:open" class="btn btn-success ml-5">Open Modal</a>
</div>



