<div id="info" class="modal w-50 h-25 text-dark">
  <p class='font-weight-bold'>This is the project, in that you can post your blog, others can view your post and they can comment their comments. and also you can post the image by clicking the my galary button in home page.</p>
  <a href="#" rel="modal:close", class="btn btn-sm btn-primary float-right">Close</a>
</div>