<html>
  <body class='index_body' id='index_body'>
    <div class='shade'>
      <h2 class='text-center bg-danger text-light'>ALL IMAGES</h2> 
      <%= link_to 'Add new Image', new_post_path, id:'new_path', remote:true, :class=>"btn btn-sm btn-warning" %>
      <hr>
      <%= render @posts %>
    </div>
  </body>
</html>


