<html>
	<body class='index_body' id='index_body'>
		<div class='shade pt-5'>
			<div class="accordion" id="accordionExample">
				<% @users.each do |user| %>
					<div class='row alert alert-warning mb-0 mt-4 users' data-toggle="collapse" data-target="#articles" aria-expanded="true" aria-controls="collapseOne">
						<b class='col'><%= user.email %></b>
						<b class='col'><%= user.username %></b>
						<b class='col'>
						<%if user.confirmed_at==nil%>
							<b>
								<%= link_to "Resend confirmation mail", new_user_confirmation_path %>
							</b>
							<%else%>
							<b>
								User Confirmed
							</b>
						<%end%>
						</b>
						<%if user.admin==true%>
							<b class='float-right text-danger'>Admin</b>
						<%else%>
							<b class='float-right'>User</b>
						<%end%>
					</div>
					<% @articles.each do |article| %>
						<%if article.User_id==user.id%>
							<ul class="list-group articles collapse" id="articles" >
								<li class="list-group-item list-group-item-primary"><%= link_to article.title, article_path(article)%></li>
							</ul>
						<%end%>
					<%end%>
				<% end %>
			</div>	
		</div>
	</body>
</html>
